<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>About</h1>
    <p>
        This project was made at the 2019 HackHers Hackathon to inspire girls to enter the STEM field!
    </p>
    <p>
        According to a 2016 study (http://www.hrpub.org/download/20160530/UJER30-19506512.pdf),
        female students were less likely than male students to declare a STEM major.
        Although more women than men are entering college, they continue to be underrepresented in STEM fields.
        In the workforce, careers in science and engineering are disproportionately held by men,
        while the vast majority of "traditionally female" occupations are occupied by women.
    </p>
    <p>
        The goal of our project is to empower girls to enter the STEM field, connect them with
        successful female pioneers, and provide materials to kickstart their learning. This is all done
        through a personality quiz that suggests career paths based on how the questions are answered.
    </p>
</body>
</html>
