<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.h2 {
center}
</style>

</head>
<body>

<h1>Looks like we just found the next <strong>biomedical engineer!</strong>!</h1>

<p>You have all the right skills and interests to create life saving solutions</p>


<h2 style="color:blue;" >Here are some famous Biomedical Engineers</h2>

<div class="row">
<div class="column">
<figure>
  <img src="{{url_for('static', filename='Images/MarieGertrudeRand.jpg')}}"  width=300 height=500>
  <figcaption>

<strong>Name: </strong>Marie Gertrude Rand<br>
<strong>Date of birth: </strong>October 29, 1886<br>
<strong>Date of Death: </strong>June 30, 1970<br>
<strong>Major Accomplishments: </strong>  Marie Gertrude Rand was one of the leading research scientists in the field of ophthalmology.  Her accomplishments include mapping the retina, creating new tools for ophthalmologists and developing measurements for color blindness.<br>
<strong>Fun Facts:</strong> She was the first female admitted to the Illuminating Engineering Society<br>

  </figcaption>
  </figure>
</div>

<div class="column">
<figure>
<img src="{{url_for('static', filename='Images/deborahKilpatrick.jpg')}}" width=300 height=500>
<figcaption>
<strong>Name:</strong> Deborah Kilpatrick <br>
<strong>Major Accomplishments:</strong> Deborah Kilpatrick earned her BS, MS and PhD degrees in mechanical engineering with a focus on bioengineering from Georgia Tech.  After holding leadership roles at CardioDx and Guidant Corporation she became a co-founder of MedtechVision Conference.She has been given a Rising Star award by the Healthcare Businesswomen's Association and a Spotlight Award by the Professional Women's Healthcare Alliance <br>
<strong>Fun Fact: </strong>Kilpatrick's father was a high school football coach in the rural south<br>

</figcaption>
</figure>

</div>
</div>





<p style="clear: both;">


<h2>Ready to start learning about the human body?  Check out this video to get an idea of what biomedical engineering is all about!</h2>
<a href="https://www.youtube.com/watch?v=O6lENrRANxY">
<img src="{{url_for('static',filename='Images/Image1.jpg')}}" alt="HTML tutorial" style="width:180px;height:180px;border:0;">
</a>


<h2>You can check out more about Engineering here:</h2>

<p><a href="https://www.nationalgeographic.org/media/nasa-kids-intro-engineering/">Introduction to Engineering</a></p>
<p><a href="https://www.engineeringforkids.com">Explore more about Engineering</a></p>

Good luck on your STEM Quest!</h2>



</body>

</html>
