<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.h2 {
center}
</style>

</head>
<body>

<h1>Ola! You will make a great <strong>civil engineer!</strong>!</h1>

<p>You're just the kind of person who can build some great buildings or bridges</p>


<h2 style="color:blue;" >Here are some famous Civil Engineers</h2>

<div class="row">
<div class="column">
<figure>
  <img src="{{url_for('static',filename='Images/EmilyRoebling.jpg')}}"  width=300 height=500>
  <figcaption>

<strong>Name: </strong>Emily Roebling<br>
<strong>Date of birth: </strong>September 23, 1843<br>
<strong>Date of Death: </strong>February 28, 1903<br>
<strong>Major Accomplishments: </strong> Emily Roebling is credited as one of the main contributors to the construction of the Brooklyn Bridge.  After her husband, the chief architect of the bridge,  became bedridden from compression disease, she began relaying all of his instructions to the construction crew.  Eventually, she gained such an in depth understanding of structure analysis and cable construction that she took over nearly all of her husband’s responsibilities.  She was the first to cross the bridge after its construction was completed, and she was honored during the opening ceremony. <br>
<strong>Fun Facts:</strong> After the bridge was completed, Roebling wrote an essay titled “A Wife’s Disabilities” that advocated for women’s rights.<br>

  </figcaption>
  </figure>
</div>

<div class="column">
<figure>
<img src="{{url_for('static',filename='Images/Olive_Dennis.jpg')}}" width=300 height=500>
<figcaption>
<strong>Name:</strong> Olive Dennis <br>
<strong>Date of Birth: </strong>November 20, 1885<br>
<strong>Date of Death: </strong>November 5, 1957<br>
<strong>Major Accomplishments:</strong> After becoming the second woman to earn a Civil Engineering degree from Cornell in 1920, Dennis was hired by B&O Railroad.  While there, she integrated individual window vents, reclining seats and stain resistant upholstery into the passenger trains.<br>
<strong>Fun Fact: </strong>She is credited with the quote "No matter how successful a business may seem to be, it can gain even greater success if it gives consideration to the woman's viewpoint.”<br>

</figcaption>
</figure>

</div>
</div>





<p style="clear: both;">


<h2>Ready to start learning about building?  Check out this video to get an idea of what civil engineering is all about!</h2>
<a href="https://www.youtube.com/watch?v=-xbtnz4wdaA">
<img src="{{url_for('static',filename='Images/Image1.jpg')}}" alt="HTML tutorial" style="width:180px;height:180px;border:0;">
</a>


<h2>You can check out more about Engineering here:</h2>

<p><a href="https://www.nationalgeographic.org/media/nasa-kids-intro-engineering/">Introduction to Engineering</a></p>
<p><a href="https://www.engineeringforkids.com">Explore more about Engineering</a></p>

Good luck on your STEM Quest!</h2>



</body>

</html>
